html {
	width: 100vw;
	height: 100vh;
	background-image: url("../img/bright-squares.png");
	margin: 0;
}

section {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	font-family: sans-serif;
	color: rgb(51, 51, 51);
}

a {
	text-decoration: none;
	color: rgb(51, 51, 51);
}

#game-area {
	width: 960px;
	display: flex;
	align-items: center;
}

#guide-tab {
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

/* hints */

#hint {
	width: 100%;
	height: 150px;
	background-color: white;
	border-radius: 10px;
	padding: 10px 25px;
	text-align: center;
	transition: 2s;
}

#hint-text {
	font-size: 17px;
}

/* controls */

#control {
	width: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 10px 25px;
	text-align: center;
	transition: 2.5s;
	border: 1px solid rgb(212, 212, 212);
	transition: 3s;
}

.bold {
	margin-top: 25px;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	background-color: rgb(199, 230, 253);
	border-radius: 5px;
}

#guide-tab div p {
	margin-top: 20px;
}

#guide-tab div span {
	padding: 3px 7px;
	font-weight: bold;
	color: white;
	background-color: rgb(151, 150, 150);
	border-radius: 3px;
}

#player1-control .bold {
	background-color: #2c2c54;
	color: white;
}

#player2-control .bold {
	color: white;
	background-color: #3f7c2f;
}

#player2-control {
	transition: 2s;
}

/* view port */

.game {
	overflow: hidden;
	width: 100%;
	height: auto;
	max-height: 700px;
	position: relative;
	border-radius: 10px;
}

/* .background element */

.background {
	background: rgb(77, 177, 253);
	table-layout: fixed;
	border-spacing: 0;
}

.background td {
	padding: 0;
}

.lava {
	background: rgb(255, 100, 100);
}

.wall {
	background: white;
}

/* actor element */

.actor {
	position: absolute;
}

.coin {
	background: rgb(255, 239, 57);
}

/* player */

.player {
	background: #2c2c54;
}

.player2 {
	background: #3f7c2f;
}

.lost .player {
	background: #c44569;
}

.won .player {
	box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

/* function side bar */

#func-tab {
	width: 250px;
	background-color: #1F4788;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#logo {
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logoText {
	padding: 0px 5px;
	transition: 0.5s;
	border-radius: 5px;
}

#logoText:hover {
	color: black;
	background-color: beige;
	border-radius: 25px;
	cursor: pointer;
}

#logo span {
	position: relative;
	color: white;
	font-size: 70px;
	font-weight: bold;
}

#mode {
	height: 350px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#level {
	min-height: 200px;
	visibility: hidden;
}

#mode p {
	margin: 0;
	padding: 0;
}

#mode a {
	width: 280px;
	height: 50px;
	background-color: rgb(230, 230, 230);
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	right: 14px;
	box-sizing: border-box;
	transition: 0.3s;
	user-select: none;
	border: 1px solid rgb(175, 174, 174);
}

#mode a:hover {
	color: rgb(51, 51, 51);
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

#mode .checked {
	border: 0px;
	color: black;
	background-color: white;
	font-weight: bold;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

/* SANDBOX */

#workbench {
	width: 960px;
	height: 700px;
	margin: auto 0;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#table-area-wrapper {
	box-sizing: border-box;
	overflow: hidden;
	width: 960px;
	border: 5px double rgb(66, 66, 66);
	border-radius: 10px;
}

#table-area {
	box-sizing: border-box;
	position: relative;
	overflow: auto;
	width: 951px;
	height: 550px;
}

#sandbox {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	border-spacing: 3px;
	table-layout: fixed;
	border-right: 1px solid rgb(66, 66, 66);
	border-bottom: 1px solid rgb(66, 66, 66);
}

#sandbox td {
	box-sizing: border-box;
	user-select: none;
}

#sandbox td:hover {
	border: 2px solid black;
}

.sb-empty {
	background: rgb(77, 177, 253);
}

.sb-wall {
	background-color: white;
}

.sb-lava {
	background: rgb(255, 100, 100);
}

.sb-player1 {
	background-image: url("../img/p-one.png");
	background-size: cover;
}

.sb-player2 {
	background-image: url("../img/p-two.png");
	background-size: cover;
}

.sb-coin {
	background: rgb(255, 239, 57);
	border: 0.3em solid rgb(77, 177, 253);
}

.sb-hor-lava {
	background: rgb(255, 100, 100);
	border-top: 0.3em solid rgb(44, 44, 44);
	border-bottom: 0.3em solid rgb(44, 44, 44);
}

.sb-vert-lava {
	background: rgb(255, 100, 100);
	border-right: 0.3em solid rgb(44, 44, 44);
	border-left: 0.3em solid rgb(44, 44, 44);
}

.sb-drip-lava {
	background: rgb(255, 100, 100);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

/* type selection sandbox*/

#sb-rightBar {
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#sb-control {
	position: relative;
	width: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 10px 25px;
	text-align: center;
	transition: 2.5s;
	border: 1px solid rgb(212, 212, 212);
	transition: 3s;
}

#sb-control p {
	text-align: start;
	padding: 5px 5px;
	margin: 5px 0px;
	font-size: 15px;
	border-radius: 5px;
	user-select: none;
}

#sb-control p:hover {
	background-color: rgb(255, 183, 183);
	cursor: pointer;
}

.chosen {
	background-color: rgb(255, 183, 183);
	color: black;
	padding: 5px 5px;
	border-radius: 5px;
}

#sb-control span {
	padding: 3px 7px;
	font-weight: bold;
	color: white;
	background-color: rgb(151, 150, 150);
	border-radius: 3px;
}

/* sandbox function buttons */

#table-func {
	display: flex;
	width: 960px;
	height: 100px;
	justify-content: space-around;
	align-items: center;
}

.sb-btn {
	width: 100px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px;
	transition: 0.3s;
}

#save-btn {
	width: 150px;
	color: white;
	background-color: #1F4788;
}

#save-btn:hover {
	color: black;
	background-color: rgb(75, 136, 109);
}

#clear-btn {
	background-color: rgb(193, 204, 221);
}

#clear-btn:hover {
	background-color: rgb(75, 136, 109);
}

.sb-btn:focus {
	outline: none;
}

#row-col-btn {
	user-select: none;
	display: flex;
	width: 300px;
	justify-content: space-between;
}

.btn-row-col {
	width: 80px;
	height: 90px;
	background-color: rgb(77, 177, 253);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.btn-row-col span {
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 3px;
}

.btn-row-col button {
	height: 50px;
	width: 30px;
	font-size: 24px;
}

.btn-row-col button:focus {
	outline: none;
}

.btn-row-col button:first-of-type {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.btn-row-col button:last-of-type {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

/* map name */

#map-name {
	width: 250px;
}

/* query box */

.query-box-view {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(51, 51, 51);
	opacity: 0.6;
}

.query-box {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto auto;
	background-color: white;
	width: 300px;
	height: 200px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.query-box div:first-of-type {
	width: 50%;
	margin: 0;
	flex: 3;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid grey;
}

.query-box div:nth-of-type(2) {
	flex: 3;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.query-box button {
	height: 40%;
	width: 30%;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: #1F4788;
	;
	transition: 0.5s;
	border-width: 0px;
}

.query-box button:hover {
	color: white;
	background-color: rgba(27, 91, 196, 0.712);
}

.query-box button:focus {
	outline: none;
}

.query-box button:active {
	color: black;
	background-color: rgb(207, 89, 5);
}

/* custom mode */

#sandBoxImg {
	width: 200px;
	height: 200px;
}

#noMap {
	font-size: 50px;
}

/* won alert */

.won-alert {
	width: 500px;
	height: 200px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
	border: 1px solid rgb(170, 170, 170);
}

.won-text {
	margin: 0;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(223, 80, 80);
}

.won-alert button {
	color: white;
	background-color: #1F4788;
}

.won-alert button:hover {
	color: black;
	background-color: rgb(75, 136, 109);
}